html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
a{text-decoration:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}

a{text-decoration:none;}
.txt-rt{text-align:right;}
.txt-lt{text-align:left;}
.txt-center{text-align:center;}
.float-rt{float:right;}
.float-lt{float:left;}
.clear{clear:both;}
.pos-relative{position:relative;}
.pos-absolute{position:absolute;}
.vertical-base{	vertical-align:baseline;}
.vertical-top{	vertical-align:top;}
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}
nav.horizontal ul li{	display: inline-block;}
img{max-width: 100%;}
.clear
{
    clear: both;
}
body{
	background:#F8FBFB;
}
.wrap{
	width:70%;
	margin:0 auto;
}

.logo{
	float:left;
	margin-top: 14px;
}
.top-nav
{
    float: right;
}
.top-nav ul li{
	display:inline-block;
	float: left;
	border-left: 1px solid rgb(31, 132, 224);
}
.top-nav ul li:first-child
{
	border-left:none;
}
.top-nav ul li a{
	font-family: 'Ropa Sans', sans-serif;
	background-color:#3391E7;
	color:aliceblue;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
.top-nav ul li a:hover{
	
}
.top-nav li.active> a, .top-nav li> a:hover {
	background: rgb(50, 133, 209);
	border-left-color:rgb(50, 133, 209);
}
.content-grids{
	background:#3391E7;
	padding: 10px 0px;
}
.listview_1_of_3{
	display: block;
	float:left;
	margin: 0% 0 0% 1.6%;
	background: #F1F6F9;
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.listimg{
	display: block;
	float:left;
}
.listview_1_of_3:first-child { margin-left: 0; } /* all browsers except IE6 and lower */

.images_1_of_3 {
	width: 29.2%;
	padding:1.5%; 
	border-radius: 1.1em;
}
.listimg_1_of_2{
	width: 32.2%;
}
.text{
	display: block;
	float:left;
	margin: 0% 0 0% 3.6%;
}
.list_1_of_2 {
	width: 64.2%;
	margin-top: 5px;
}
.list_1_of_2  h3{
	color:#3391E7;
	margin-bottom:0.2em;
	margin-top:0;
	font-size: 2em;
	font-family: 'Ropa Sans', sans-serif;
	font-weight : normal;
	letter-spacing: -1px;
}
.list_1_of_2  p{
	font-size:0.8125em;	
	color: #3391E7;
	line-height: 1.5em;
	font-family: Arial, "Helvetica Neue", "Helvetica", Tahoma, Verdana, sans-serif;
	padding:0; 	
}
.list_1_of_2 .button{
	line-height:1.9em;
	margin-top:0.2em;
}
.list_1_of_2 .button a{
		font-family: 'Ropa Sans', sans-serif;
		color: rgb(139, 139, 139);
		font-size: 1em;
}
.list_1_of_2 .button a:hover{
        text-decoration:none; 
        color:#3391E7;
}
.footer{
	background:#e0e7eb;
	padding: 15px 4px;
}
.footer-left{
	float:left;
}
.footer-left ul li{
	display:inline-block;
}
.footer-left,.footer-right{
	float:none;
	text-align:center;
	line-height:1.8em;
}
.foot-ul
{
	text-align: center;
	font-family:'Times New Roman', Times, serif;
	color:coral;
	font-size: 20px;
}
